.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    height: 500px;
    width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}


/**.modal-backdrop .hr {
    height: 1.5px;
    border-width: 0;
    color: red;
    background-color: red;
}*/

.btn-group {
    margin-right: 20px;
    float: right;
}

.text-registrar {
    color: #3498db;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.vertical-align-center {
    margin-top: 200px;
}

.boton-registrar {
    float: right;
}