.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    height: 500px;
    width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.btn-group {
    margin-right: 20px;
    float: right;
}

.text-registrar {
    color: #3498db;
}

.modal-backdrop {
    background-color: transparent;
}

.vertical-align-center {
    margin-top: 200px;
}

.boton-registrar {
    float: right;
}

.count:before {
    counter-increment: section;
    content: counter(section);
}

table {
    counter-reset: section;
}

.cir1 {
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.cir0 {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.estados-centrados {
    text-align: center;
    margin-bottom: 15px;
}

.cir1D {
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
}

.cir0D {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
}

.cirEmpty {
    background-color: whitesmoke;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
}

.alert button.close {
    position: relative;
    margin-top: -23px;
}

.btn-descripcion {
    color: #3498db;
    border-color: #3498db;
}

.btn-actualizar {
    color: #3498db;
    border-color: #3498db;
}

.head-text {
    color: #3498db;
}

.head-div {
    margin-bottom: 50px;
}

.button-agregar2 {
    display: none;
}

#boton-rojo:focus .cir0D {
    background-color: red;
}

#boton-rojo:focus .cir1D {
    background-color: green;
}

#boton-verde:hover .cir1D {
    background-color: #026902;
}

.modal-lg {
    width: 1275px;
    margin: auto;
    margin-top: 0px;
    margin-left: 260px;
}

.btn-registrarF {
    max-width: 20px;
    float: right;
}

.labelFromR {
    margin-left: 5px;
    margin-right: 5px;
}

.ordenCompra-div {
    margin-top: 0px;
}

hr {
    border: none;
    height: 2px;
    width: 1100px;
    margin-top: 0px;
    /* Set the hr color */
    color: #eee;
    /* old IE */
    background-color: #eee;
    /* Modern Browsers */
}

select[readonly] {
    pointer-events: none;
    touch-action: none;
}