<div class="row">
    <div class="col-sm-6">
        <label>Cantidad de perfiles {{users.length}}</label>
    </div>
</div>
<div class="row">
    <div class="col-md-8 d-flex justify-content-end" style="margin-bottom: 10px">
        <input type="text" [(ngModel)]="user.rol" class="form-control" placeholder="Buscar" />
    </div>

<div class="container cont">
    <h1>Gestionar Perfiles</h1>
     <div class="row" style="margin: 40px 0px;">
        <div class="col-md-8" style="padding-left: 0px;">
                <div class="input">
                    <input type="text" [(ngModel)]="user.rol" 
                class="form-control" placeholder="Buscar por rol"/>
                </div>
        </div>
        <div class="col-md-4" style="padding-right: 0px;">
            <button (click)="abrirModal()" type="button" class="btn btn-primary" 
            >Registrar Perfil
            <input data-toggle="modal" data-target="#modalRegistrar" #modalRegistrar type="hidden" name="button" />
        </button>
        </div>
    </div>
    <table class="table styled-table" style="text-align: center;">
        <thead>
            <tr>
                <th>Trabajador</th>
                <th>Rol</th>
                <th>Email</th>
                <th>FechaNacimiento</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let h of users | filterBy: user">
                <td>{{ h.apellidoPaterno }}</td>
                <td>{{ h.rol }}</td>
                <td>{{ h.email }}</td>
                <td>{{ h.fechaNacimiento | date: "dd/MM/yyyy" }}</td>
                <td>
                    <button (click)="abrirModalModificar(h)" class="btn boton-table">
                        <img src="\assets\img\icons8-update-left-rotation-30.png" alt="x"/>
                        <input data-toggle="modal" data-target="#modalModificar" #modalModificar type="hidden" name="button"/>
                    </button>

                    <button (click)="abrirModalVer(h)" class="btn boton-table">
                        <img src="\assets\img\icons8-eye-30.png" alt="x"/>
                        <input data-toggle="modal" data-target="#modalVer" #modalVer type="hidden" name="button"/>
                    </button>
                </td>
            </tr>
        </tbody>
            
        </table>
    </div>

<!--Modal para añadir-->

<div class="modal fade" style="background-color: rgba(0, 0, 0, 0.5)" append-to-body="true" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalRegistrar" aria-hidden="true" id="modalRegistrar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="formUser" class="modal-body">
                <form [formGroup]="formUser" class="row">
                    <div class="form-group col-md-12">
                        <label for="nombre">Nombre</label>
                        <input formControlName="nombre" type="text" class="form-control" id="nombres" placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="rol">Rol</label>
                        <input formControlName="rol" type="text" class="form-control" id="rol" placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidoPaterno">Apellido Paterno</label>
                        <input formControlName="apellidoPaterno" type="text" class="form-control" id="apellidoPaterno" placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidoMaterno">Apellido Materno</label>
                        <input formControlName="apellidoMaterno" type="text" class="form-control" id="apellidoMaterno" placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dni">DNI</label>
                        <input formControlName="dni" type="text" class="form-control" id="dni" placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="celular">Celular</label>
                        <input formControlName="celular" type="text" class="form-control" id="celular" placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="email">Email</label>
                        <input formControlName="email" type="text" class="form-control" id="email" placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input formControlName="fechaNacimiento" type="date" class="form-control" id="fechaNacimiento" placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="direccion">Direccion</label>
                        <textarea formControlName="direccion" type="text" class="form-control" id="direccion" placeholder=""></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="especialidad">Especialidad</label>
                        <input formControlName="especialidad" type="text" class="form-control" id="especialidad" placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="contraseña">Contraseña</label>
                        <input formControlName="contraseña" type="text" class="form-control" id="contraseña" placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="user">User</label>
                        <input formControlName="user" type="text" class="form-control" id="user" placeholder="user" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="registrar()" class="btn btn-primary">
                    Registrar
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal para añadir-->

<div class="modal fade" style="background-color: rgba(0, 0, 0, 0.5)" append-to-body="true" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalModificar" aria-hidden="true" id="modalModificar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="formUserModificar" class="modal-body">
                <form [formGroup]="formUserModificar" class="row">
                    <div class="form-group col-md-12">
                        <label for="nombre">Nombre</label>
                        <input formControlName="nombre" type="text" class="form-control" id="nombres" placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="rol">Rol</label>
                        <input formControlName="rol" type="text" class="form-control" id="rol" placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidoPaterno">Apellido Paterno</label>
                        <input formControlName="apellidoPaterno" type="text" class="form-control" id="apellidoPaterno" placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidoMaterno">Apellido Materno</label>
                        <input formControlName="apellidoMaterno" type="text" class="form-control" id="apellidoMaterno" placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dni">DNI</label>
                        <input formControlName="dni" type="text" class="form-control" id="dni" placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="celular">Celular</label>
                        <input formControlName="celular" type="text" class="form-control" id="celular" placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="email">Email</label>
                        <input formControlName="email" type="text" class="form-control" id="email" placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input formControlName="fechaNacimiento" type="date" class="form-control" id="fechaNacimiento" placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="direccion">Direccion</label>
                        <textarea formControlName="direccion" type="text" class="form-control" id="direccion" placeholder=""></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="especialidad">Especialidad</label>
                        <input formControlName="especialidad" type="text" class="form-control" id="especialidad" placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="contraseña">Contraseña</label>
                        <input formControlName="contraseña" type="text" class="form-control" id="contraseña" placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="user">User</label>
                        <input formControlName="user" type="text" class="form-control" id="user" placeholder="user" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="modificar()" class="btn btn-primary">
                    Modificar
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal para ver-->

<div class="modal fade" style="background-color: rgba(0, 0, 0, 0.5)" append-to-body="true" data-backdrop="false" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalVer" aria-hidden="true" id="modalVer">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="formUserVer" class="modal-body">
                <form [formGroup]="formUserVer" class="row">
                    <div class="form-group col-md-12">
                        <label for="nombre">Nombre</label>
                        <input formControlName="nombre" type="text" class="form-control" id="nombres" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="rol">Rol</label>
                        <input formControlName="rol" type="text" class="form-control" id="rol" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidoPaterno">Apellido Paterno</label>
                        <input formControlName="apellidoPaterno" type="text" class="form-control" id="apellidoPaterno" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidoMaterno">Apellido Materno</label>
                        <input formControlName="apellidoMaterno" type="text" class="form-control" id="apellidoMaterno" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dni">DNI</label>
                        <input formControlName="dni" type="text" class="form-control" id="dni" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="celular">Celular</label>
                        <input formControlName="celular" type="text" class="form-control" id="celular" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="email">Email</label>
                        <input formControlName="email" type="text" class="form-control" id="email" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input formControlName="fechaNacimiento" type="date" class="form-control" id="fechaNacimiento" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="direccion">Direccion</label>
                        <textarea formControlName="direccion" type="text" class="form-control" id="direccion" disabled placeholder=""></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="especialidad">Especialidad</label>
                        <input formControlName="especialidad" type="text" class="form-control" id="especialidad" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="contraseña">Contraseña</label>
                        <input formControlName="contraseña" type="text" class="form-control" id="contraseña" disabled placeholder="" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="user">User</label>
                        <input formControlName="user" type="text" class="form-control" id="user" disabled placeholder=" " />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>