<div class="container-fluid" style="margin: 20px 20px 40px">
    <div class="row">
        <div class="col-sm-6" style="margin: 0px 20px 10px">
            <p class="h3">{{servicioService.servicioSeleccionado.titulo}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin-left: 20px" >
            <img src='{{servicioService.servicioSeleccionado.imagen}}' class="rounded mx-auto d-block" style="width: 100%">
        </div>
        <div class="col-md-4" style="margin-left: 20px" >
            <p style=text-align:justify;>
                {{servicioService.servicioSeleccionado.descripcion}}
            </p>
        </div>
    </div>
</div>