<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" style="margin-left: 20px">
            <label>Servicio </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4" style="margin-left: 20px" >
            <select formControlName="seleccion" class="form-control" (change)="Cambio($event.target.value)" id="seleccion">
                <option *ngFor="let ser of servicios" [value]="ser._id">
                    {{ ser.titulo }}
                </option>
            </select>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="eventoSeleccionado" style="margin-left: 20px">
    <div class="row">
        <div class="col-sm-6">
            <label>{{eventoSeleccionado?.titulo}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin-left: 20px" >
            <img src='{{eventoSeleccionado?.imagen}}' class="rounded mx-auto d-block" style="width: 100%">
        </div>
        <div class="col-md-4" style="margin-left: 20px" >
            <p style=text-align:justify;>
                {{eventoSeleccionado?.descripcion}}
            </p>
        </div>
    </div>
</div>