<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Estado</th>
            <th>Telefono</th>
        </tr>

    </thead>

    <tbody>
        <tr *ngFor="let proveedor of gestionarpservice.proveedor">
            <td>{{ proveedor.nombre }}</td>
            <td>{{ proveedor.email }}</td>
            <td>{{ proveedor.estado }}</td>
            <td>{{ proveedor.telefono }}</td>
            <td>

            </td>

            <!--     <td>
                    <a (click)="deleteEmployee(categoriaMx._id)" class="btn btn-danger btn-sm">
                        <i class="material-icons">delete</i>
                    </a>
                </td>-->
        </tr>
    </tbody>
</table>



<form #proveedorForm="ngForm" (ngSubmit)="agregarProveedor(proveedorForm)">
    <div class="form-group">
        <input type="text" name="nombre" [(ngModel)]="gestionarpservice.selectProveedor.nombre" class="form-control" placeholder="Nombre">
    </div>
    <div class="form-group">
        <input type="text" name="email" [(ngModel)]="gestionarpservice.selectProveedor.email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="text" name="estado" [(ngModel)]="gestionarpservice.selectProveedor.estado" class="form-control" placeholder="Estado">
    </div>
    <div class="form-group">
        <input type="text" name="telefono" [(ngModel)]="gestionarpservice.selectProveedor.telefono" class="form-control" placeholder="Telefono">
    </div>
    
    <div class="modal-footer">
        <div class="btn-group">
            <button class="btn btn-primary button-agregar">Agregar</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary">Cancelar</button>
        </div>
    </div>
</form>