<div class="container cont">
  <h1>Gestionar Proveedores</h1>
  <div class="row" style="margin: 40px 0px;">
    <div class="col-md-8" >
      <div class="col-5" style="padding-left: 0px;">
          <div class="input-group">
              <input type="text" name="nombre" class="form-control">
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-primary">Buscar</button>
                  </span>
              </div>
      </div>
</div>

<div class="col-md-4" style="padding-right: 0px;">
  
    <button type="button" class="btn btn-primary" data-backdrop="false" data-toggle="modal"
      data-target="#exampleModalCenter">Registrar Proveedor</button>
  </div>
</div>
  <div class="table styled-table" style="text-align: center;">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Contacto</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Estado</th>
           <th>Laboratorio</th>
          <th>Editar</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let proveedor of gestionarpservice.proveedor | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;">
          <td>{{ proveedor.nombre }}</td>
          <td>{{proveedor.contacto}}</td>
          <td>{{ proveedor.email }}</td>
          <td>{{ proveedor.telefono }}</td>
          <td>{{ proveedor.estado }}</td>
          <td>{{proveedor.laboratorio}}        </td>
  
          <td>
            <button class="btn boton-table" data-backdrop="false" data-toggle="modal" data-target="#actualizar"
              (click)="getProveedo(proveedor)"><img src="\assets\img\icons8-update-left-rotation-30.png" alt="x"/>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="float: right;">
    <ngb-pagination  [pageSize]="pageSize" [collectionSize]="(gestionarpservice.proveedor).length" [(page)]="page">
    </ngb-pagination>
</div>
</div>

<!-- MODAL ACTUALIZAR -->
  
<div class="modal fade" id="actualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
aria-hidden="true">
<div class="modal-backdrop display-none">
  <div class="modal-dialog vertical-align-center modal-lg" role="document">
    <div class="modal-content popup-content">
      <div class="modal-header">
        <h3 class="modal-title text-center text-registrar">
          Actualizar Proveedor
        </h3>
      </div>
      <div class="modal-body">
        <form autocomplete="off" #proveedor2Form="ngForm" id="form-proveedor2" name="form-proveedor2">
          <input autocomplete="false" name="hidden" type="text" style="display: none" />

          <input name="_id" type="hidden" [(ngModel)]="gestionarpservice.selectProveedor2._id" />

          <div class="form-group">
            <label> Nombre</label>
            <input class="input-text" type="text" id="nombre" name="nombre" ngModel required [(ngModel)]="
                gestionarpservice.selectProveedor2.nombre
              " class="form-control" placeholder="Nombre" />

          </div>
          <div class="form-group">
            <label> Contacto</label>
            <input class="input-text" type="text" id="contacto" name="contacto" ngModel required
              [(ngModel)]="
                gestionarpservice.selectProveedor2.contacto
              " class="form-control" placeholder="Contacto" />

          </div>
          <div class="form-group">
            <label> Email</label>
            <input class="input-text" type="email" name="email" ngModel required email="true"
              [(ngModel)]="gestionarpservice.selectProveedor2.email" class="form-control"
              placeholder="E-mail" required />
          </div>

          <div class="form-group">
            <select name="estado" ngModel required [(ngModel)]="
                gestionarpservice.selectProveedor2.estado
              ">
              <option *ngFor="let estado of estados" [value]="estado.estado" [selected]="estado">
                {{ estado.estado }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label> Telefono</label>
            <input type="text" name="telefono" ngModel maxlength="9" required [(ngModel)]="
                gestionarpservice.selectProveedor2.telefono
              " class="form-control" placeholder="Telefono" />

          </div>

          <div class="form-group">
            <label> Laboratorio</label>
            <input class="text" type="text" name="laboratorio" ngModel required
              [(ngModel)]="
                gestionarpservice.selectProveedor2.laboratorio
              " class="form-control" placeholder="laboratorio" />

          </div>

          
          <div class="contenedor">
            <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="error2 == true">
              <p class="alertFont">¡Existen campos incorrectos!</p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                (click)="cerrarAlerta()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>

          <div class="modal-footer">
            <div class="btn-group agregar">
              <button class="btn btn-success button agregar" (click)="validar2(proveedor2Form)">
                Aceptar
              </button>
            </div>
            <div class="btn-group cancelar">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetForm(proveedor2Form)">
                Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Modal Registrar -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-backdrop display-none">
    <div class="modal-dialog vertical-align-center modal-lg" role="document">
      <div class="modal-content popup-content">
        <div class="modal-header">
          <h3 class="modal-title text-center text-registrar">
            Registrar Proveedor
          </h3>
        </div>

        <div class="modal-body">
          <form autocomplete="off" #proveedorForm="ngForm" id="form-proveedor" name="form-proveedor">
            <input autocomplete="false" name="hidden" type="text" style="display: none" />

            <label for="">
              Nombre
            </label>

            <!-- Nombre -->
            <div class="form-group">
              <input class="input-text" type="text" id="nombre" name="nombre" ngModel required
                [(ngModel)]="gestionarpservice.selectProveedor.nombre" class="form-control" placeholder="Nombre" />
            </div>
            <label for="">
              Contacto
            </label>

            <!-- Contacto -->
            <div class="form-group">
              <input class="input-text" type="text" id="contacto" name="contacto" ngModel required
                [(ngModel)]="gestionarpservice.selectProveedor.contacto" class="form-control" placeholder="Contacto" />
            </div>
            <label for="">
              Email
            </label>

            <!-- Email -->
            <div class="form-group">
              <input class="input-text" type="email" name="email" ngModel required email="true"
                [(ngModel)]="gestionarpservice.selectProveedor.email" class="form-control" placeholder="E-mail" />
            </div>
            <label for="">
              Estado
            </label>

            <div class="form-group">
              <select name="estado" ngModel required [(ngModel)]="gestionarpservice.selectProveedor.estado">
                <option *ngFor="let estado of estados" [value]="estado.estado" [selected]="estado">
                  {{ estado.estado }}
                </option>
              </select>
            </div>

            <!--Telefono-->
            <label for="">
              Telefono
            </label>
            <div class="form-group d-flex">

              <select id="ciudades" name="ciudades" (click)="selectChangeHandler($event)" (click)="selectChangeHandler2($event)">
                <option value="01">Lima +01</option>
                <option value="041">Amazonas +041</option>
                <option value="043">Ancash +043</option>
                <option value="082">Apurimac +082</option>
                <option value="054">Arequipa +054</option>
                <option value="066">Ayacucho +066</option>
                <option value="076">Cajamarca +076</option>
                <option value="084">Cusco +084</option>
                <option value="067">Huancavelica +067</option>
                <option value="062">Huanuco +062</option>
                <option value="056">Ica +056</option>
                <option value="064">Junin +064</option>
                <option value="044">La Libertad +044</option>
                <option value="074">Lambayeque +074</option>
                <option value="065">Loreto +065</option>
                <option value="082">Madre de Dios +082</option>
                <option value="053">Moquegua +053</option>
                <option value="063">Pasco +063</option>
                <option value="073">Piura +073</option>
                <option value="051">Puno +051</option>
                <option value="042">San Martin +042</option>
                <option value="052">Tacna +052</option>
                <option value="072">Tumbes +072</option>
                <option value="061">Ucayali +061</option>
              </select>


              <input type="text" name="telefono_aux" ngModel maxlength="7" required
                class="form-control" placeholder="Telefono"  (keyup)="getTelefono($event)" (keyup)="selectChangeHandler2($event)"/>

              <input type="hidden" name="telefono"  ngModel maxlength="10" [value]="telefono_final"   [(ngModel)]="
              gestionarpservice.selectProveedor.telefono  
            "class="form-control">

            </div>

            <!-- Laboratorio -->
            <div class="form-group">
              <input class="input-text" type="text" name="laboratorio" ngModel required 
                [(ngModel)]="gestionarpservice.selectProveedor.laboratorio" class="form-control" placeholder="Laboratorio" />
            </div>
            
            <!-- Aletar Excepcion-->
            <div class="contenedor">
              <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="error == true">
                <p class="alertFont">¡Existen campos incorrectos!</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrarAlerta()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>

            <div class="modal-footer">
              <button class="oculto" data-dismiss="modal" id="ocultof"></button>
              <div class="btn-group agregar">
                <div *ngIf="error == false">
                  <button class="btn btn-success button agregar" (click)="addAlerta(gestionarpservice.selectProveedor.nombre)" (click)="validar(proveedorForm) "
                    (click)="resetForm(proveedorForm)" >
                    Agregar
                  </button>
                </div>
              </div>

              <div class="btn-group cancelar">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm(proveedorForm)">
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>