<div class="container cont">
    <h1>Gestionar Medicamentos</h1>
    <div class="row" style="margin: 40px 0px;">  

        <div class="col-md-8" >
                <div class="col-5" style="padding-left: 0px;">
                    <div class="input-group">
                        <input type="text" name="nombre" class="form-control" 
                            #nombreControl="ngModel" [(ngModel)]="medicamentoService.selectedMedicamento1.nombre"
                            [(ngModel)]="nombre">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" (click)="searchByNombre(nombre)">Buscar</button>
                            </span>
                        </div>
                </div>
        </div>

        <div class="col-md-4" style="padding-right: 0px;">
            <button type="button" class="btn btn-primary" data-backdrop="false" data-toggle="modal" data-target="#exampleModalCenter">
                Registrar Medicamento
                  </button>
                  </div>
    </div>
    
    <table class="table styled-table" style="text-align: center;">
        <thead >
            <tr>
                <th style="display: none;">id</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Dosis</th>
                <th>Presentación</th>
                <th>Precio Unitario</th>
                <th>Ubicación</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- -->
            <tr *ngFor="let medicamento of medicamentos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;">
                <td style="display: none;">{{ medicamento._id }}</td>
                <td>{{ medicamento.codigo }}</td>
            
                <td>{{ medicamento.nombre }}</td>

                <td>{{ medicamento.categoria }}</td>

                <td>{{ medicamento.dosis }}</td>

                <td>{{ medicamento.presentacion }}</td>

                <td>{{ medicamento.precioUnitario}}</td>

                <td>{{ medicamento.ubicacion}}</td>
                
                <td>
                    <button class="btn boton-table" data-backdrop="false" data-toggle="modal" data-target="#modalActualizar"
                    (click) ="getMedicamento1(medicamento)"><img src="\assets\img\icons8-update-left-rotation-30.png" alt="x"/></button>
                    
                    <button class="btn boton-table" data-backdrop="false" data-toggle="modal" data-target="#modalVer"
                    (click) ="getMedicamento1(medicamento)"><img src="\assets\img\icons8-eye-30.png" alt="x"/></button>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="float: right;">
        <ngb-pagination  [pageSize]="pageSize" [collectionSize]="medicamentos.length" [(page)]="page">
        </ngb-pagination>
    </div>
</div>
<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-backdrop display-none">
        <!-- Para que el modal salga con un background transparente -->
        <div class="modal-dialog vertical-align-center modal-lg" role="document">
            <div class="modal-content popup-content">
                <div class="modal-header popup-header">
                    <h3 class="modal-title text-center text-registrar">Registrar Medicamento</h3>
                </div>
                <div class="modal-body">
                    <form #medicamentoForm="ngForm" >
                        
                        <div class="form-group">
                            <i class="i-font">Nombre</i>
                            <input type="text" name="nombre" #Nombre="ngModel" 
                             [(ngModel)]="medicamentoService.selectedMedicamento.nombre" 
                            class="form-control text-input" required pattern="[a-zA-Z ]*">
                            
                                <div *ngIf="Nombre.hasError('pattern')">
                                    <p>*Solo letras</p>
                                </div>
                                <div *ngIf="Nombre.hasError('required')">
                                    <p>*Campo Requerido</p>
                                </div>
                        </div>

                        <div class="form-group contenedor-tabla">
                        <div class="label-radio contenedor-fila">
                            <div class="contenedor-columna-right">
                                <input type="radio" name="disponibilidad" value=true
                                (change)="radioChangeHandler($event)" [(ngModel)]="medicamentoService.selectedMedicamento.disponibilidad">
                                <label class="label-text">Disponible</label>
                            </div>
                            <div class="contenedor-columna-left">
                                <input type="radio" name="disponibilidad" value=false
                                (change)="radioChangeHandler($event)" [(ngModel)]="medicamentoService.selectedMedicamento.disponibilidad">
                                <label class="label-text">No disponible</label>
                            </div>
                            </div>
                        </div>
                        <div class="contenedor-tabla">
                            <div class="contenedor-fila">
                                <div class="contenedor-columna-right">
                                    <i class="i-font">Concentración</i>
                                    <div class="contenedor-fila">
                                    <div class="form-group contenedor-columna-right">
                                     <input type="number" name="numero" [(ngModel)]="numero" #Numero="ngModel"
                                     class="form-control text-input" required>
                            
                                    </div>
                                    <div class="content-select select contenedor-columna-left">
                                        <select name="unidades" [(ngModel)]="unidades" #Unidades="ngModel" required min="0">
                                        <option [value]="item" *ngFor="let item of unidadlist">{{item}}</option>
                                         </select>
                                    </div>
                                    <input style="display: none;" type="text" name="dosis" 
                                    [(ngModel)]="medicamentoService.selectedMedicamento.dosis" ngModel="{{numero}} {{unidades}}">
                                    </div>
                                    <div *ngIf="Numero.hasError('required')||Unidades.hasError('required')">
                                        <p>*Campo Requerido</p>
                                    </div>
                                </div>
                                <div class="contenedor-columna-left">
                                    <div class="form-group">
                                        <i class="i-font">Presentación</i>
                                        <div class="content-select select">
                                            <select name="presentacion" #Presentacion="ngModel"
                                            [(ngModel)]="medicamentoService.selectedMedicamento.presentacion"
                                            required>
                                            <option [value]="item" *ngFor="let item of presentacionlist">{{item}}</option>
                                            </select>
                                    </div>
                                    <div *ngIf="Presentacion.hasError('required')">
                                        <p>*Campo Requerido</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="contenedor-tabla">
                            <div class="contenedor-fila">
                                <div class="contenedor-columna-right">
                                    <div class="form-group">
                                        <i class="i-font">Precio Unitario</i>
                                        <input type="number"name="precioUnitario" #PrecioUnitario="ngModel"
                                        [(ngModel)]="medicamentoService.selectedMedicamento.precioUnitario" 
                                        class="form-control text-input" required  min="0" max="200">
                                        <div *ngIf="PrecioUnitario.hasError('required')">
                                            <p>*Campo Requerido</p>
                                        </div>
                        
                                    </div>
                                </div>
                                <div class="contenedor-columna-left">
                                    <div class="form-group">
                                        <i class="i-font">Marca</i>
                                        <div class="content-select select">
                                            <select name="marca" #Marca="ngModel"
                                            [(ngModel)]="medicamentoService.selectedMedicamento.marca" required>
                                                <option [value]="item" *ngFor="let item of marcalist">{{item}}</option>
                                                </select>
                                        </div>
                                        <div *ngIf="Marca.hasError('required')">
                                            <p>*Campo Requerido</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contenedor-tabla">
                            <div class="contenedor-fila">
                                <div class="contenedor-columna-right">
                                    <div class="form-group">
                                        <i class="i-font">Categoría</i>
                                        <div class="content-select select">
                                        <select name="categoria" #Categoria="ngModel"
                                        [(ngModel)]="medicamentoService.selectedMedicamento.categoria" required>
                                             <option [value]="item" *ngFor="let item of categorialist">{{item}}</option>
                                         </select>
                                    </div>
                                    <div *ngIf="Categoria.hasError('required')">
                                        <p>*Campo Requerido</p>
                                    </div>
                                    </div>
                                </div>
                                <div class="contenedor-columna-left">
                                    <div class="form-group">
                                        <i class="i-font">Ubicación</i>
                                        <div class="content-select select">
                                            <select name="ubicacion" #Ubicacion="ngModel"
                                            [(ngModel)]="medicamentoService.selectedMedicamento.ubicacion" required>
                                                <option [value]="item" *ngFor="let item of ubicacionlist">{{item}}</option>
                                            </select>
                                    </div>
                                    <div *ngIf="Ubicacion.hasError('required')">
                                        <p>*Campo Requerido</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="contenedor-tabla">
                            <div class="contenedor-fila">
                                <div class="contenedor-columna-right">
                                    <div class="form-group">
                                        <i class="i-font">Stock Mínimo</i>
                                        <input type="number" min="0" max="200" name="stockMin"  #StockMin="ngModel"
                                        [(ngModel)]="medicamentoService.selectedMedicamento.stockMin" class="form-control text-input" required>
                                        <div *ngIf="StockMin.hasError('required')">
                                            <p>*Campo Requerido</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="contenedor-columna-left">
                                    <div class="form-group">
                                        <i class="i-font">Stock Máximo</i>
                                        <input type="number" min="0" max="200" name="stockMax" #StockMax="ngModel"
                                         [(ngModel)]="medicamentoService.selectedMedicamento.stockMax" class="form-control text-input" required>
                                         <div *ngIf="StockMax.hasError('required')">
                                            <p>*Campo Requerido</p>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <i class="i-font">Detalles</i>
                            <textarea class="form-control descripcion-input" name="detalles" #Detalles="ngModel"
                            [(ngModel)]="medicamentoService.selectedMedicamento.detalles" required></textarea>
                            <div *ngIf="Detalles.hasError('required')">
                                <p>*Campo Requerido</p>
                            </div>
                        </div>

                        <div class="modal-footer popup-footer">
                            
                            <div class="btn-group">
                                <button class="btn btn-primary button-agregar" [disabled]="medicamentoForm.invalid" (click)="addMedicamento(medicamentoForm)" (click)="resetForm(medicamentoForm)">Agregar</button>

                            </div>
                            <div class="btn-left">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm(medicamentoForm)">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal fade" id="modalActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-backdrop display-none">
        <!-- Para que el modal salga con un background transparente -->
        <div class="modal-dialog vertical-align-center modal-lg" role="document">
            <div class="modal-content popup-content">
                <div class="modal-header popup-header">
                    <h3 class="modal-title text-center text-registrar">Actualizar medicamento</h3>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" #medicamentosForm="ngForm"  id="form-medicamento" name="form-medicamento">
                      <div class="form-group">
                        <input type="text" name="_id" [(ngModel)] = "medicamentoService.selectedMedicamento1._id" class="form-control text-input" style="display: none;">
                    </div>
                        <div class="form-group">
                            <i class="i-font">Nombre</i>
                            <input type="text" name="nombre" [(ngModel)]="medicamentoService.selectedMedicamento1.nombre" class="form-control text-input">
                        </div>

                        <div class="form-group contenedor-tabla">
                        <div class="label-radio contenedor-fila">
                            <div class="contenedor-columna-right">
                                <input type="radio" name="disponibilidad" value=true
                                (change)="radioChangeHandler($event)" [(ngModel)]="medicamentoService.selectedMedicamento1.disponibilidad">
                                <label class="label-text">Disponible</label>
                            </div>
                            <div class="contenedor-columna-left">
                                <input type="radio" name="disponibilidad" value=false
                                (change)="radioChangeHandler($event)" [(ngModel)]="medicamentoService.selectedMedicamento1.disponibilidad">
                                <label class="label-text">No disponible</label>
                            </div>
                            </div>
                        </div>
                        <div class="contenedor-tabla">
                            <div class="contenedor-fila">
                                <div class="contenedor-columna-right">
                                    <i class="i-font">Concentración</i>
                                     <input type="text" name="dosis" [(ngModel)]="medicamentoService.selectedMedicamento1.dosis" disabled="disabled" class="form-control text-input">       
                                </div>
                                <div class="contenedor-columna-left">
                                    <div class="form-group">
                                        <i class="i-font">Presentación</i>
                                        <input type="text" name="presentacion" [(ngModel)]="medicamentoService.selectedMedicamento1.presentacion" disabled="disabled" class="form-control text-input">   
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="contenedor-tabla">
                            <div class="contenedor-fila">
                                <div class="contenedor-columna-right">
                                    <div class="form-group">
                                        <i class="i-font">Precio Unitario</i>
                                        <input type="text"name="precioUnitario" [(ngModel)]="medicamentoService.selectedMedicamento1.precioUnitario" class="form-control text-input">
                                    </div>
                                </div>
                                <div class="contenedor-columna-left">
                                    <div class="form-group">
                                        <i class="i-font">Marca</i>
                                        <div class="content-select select">
                                            <select name="marca" [(ngModel)]="medicamentoService.selectedMedicamento1.marca">
                                                <option [value]="item" *ngFor="let item of marcalist">{{item}}</option>
                                                </select>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contenedor-tabla">
                            <div class="contenedor-fila">
                                <div class="contenedor-columna-right">
                                    <div class="form-group">
                                        <i class="i-font">Categoría</i>
                                        <input type="text"name="categoria" [(ngModel)]="medicamentoService.selectedMedicamento1.categoria" disabled="disabled" class="form-control text-input">
                                    </div>
                                </div>
                                <div class="contenedor-columna-left">
                                    <div class="form-group">
                                        <i class="i-font">Ubicación</i>
                                        <input type="text" name="ubicacion" [(ngModel)]="medicamentoService.selectedMedicamento1.ubicacion" disabled="disabled" class="form-control text-input">
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="contenedor-tabla">
                            <div class="contenedor-fila">
                                <div class="contenedor-columna-right">
                                    <div class="form-group">
                                        <i class="i-font">Stock Mínimo</i>
                                        <input type="text" name="stockMin" [(ngModel)]="medicamentoService.selectedMedicamento1.stockMin" class="form-control text-input">
                                    </div>
                                </div>
                                <div class="contenedor-columna-left">
                                    <div class="form-group">
                                        <i class="i-font">Stock Máximo</i>
                                        <input type="text" name="stockMax" [(ngModel)]="medicamentoService.selectedMedicamento1.stockMax" class="form-control text-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <i class="i-font">Detalles</i>
                            <textarea class="form-control descripcion-input" name="detalles" [(ngModel)]="medicamentoService.selectedMedicamento1.detalles"></textarea>
                        </div>

                        <div class="modal-footer popup-footer">
                            <div class="btn-group">
                                <button class="btn btn-primary button-agregar" (click)="updateMedicamento(medicamentosForm)">Actualizar</button>
                            </div>
                            <div class="btn-left">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm(medicamentoForm)">Cancelar</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-backdrop display-none">
        <!-- Para que el modal salga con un background transparente -->
        <div class="modal-dialog vertical-align-center modal-lg" role="document">
            <div class="modal-content popup-content">
                <div class="modal-header popup-header">
                    <h3 class="modal-title text-center text-registrar">Detalles del medicamento</h3>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" #medicamentosForm="ngForm" id="form-medicamento" name="form-medicamento">
                        
                      <div class="form-group">
                        <input type="text" name="_id" [(ngModel)] = "medicamentoService.selectedMedicamento1._id" class="form-control text-input" style="display: none;">
                    </div>
                        <div class="form-group">
                            <i class="i-font">Nombre</i>
                            <input type="text" name="nombre" disabled="disabled" [(ngModel)]="medicamentoService.selectedMedicamento1.nombre" class="form-control text-input">
                        </div>
                        <div class="contenedor-tabla">
                            <div class="contenedor-fila">
                                <div class="contenedor-columna-right">
                                    <i class="i-font">Concentración</i>
                                     <input type="text" name="dosis" disabled="disabled" [(ngModel)]="medicamentoService.selectedMedicamento1.dosis" class="form-control text-input">       
                                </div>
                                <div class="contenedor-columna-left">
                                    <div class="form-group">
                                        <i class="i-font">Presentación</i>
                                        <input type="text" name="presentacion" disabled="disabled" [(ngModel)]="medicamentoService.selectedMedicamento1.presentacion" class="form-control text-input">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="contenedor-tabla">
                            <div class="contenedor-fila">
                                <div class="contenedor-columna-right">
                                    <div class="form-group">
                                        <i class="i-font">Precio Unitario</i>
                                        <input type="text"name="precioUnitario" disabled="disabled" [(ngModel)]="medicamentoService.selectedMedicamento1.precioUnitario" class="form-control text-input">
                                    </div>
                                </div>
                                <div class="contenedor-columna-left">
                                    <div class="form-group">
                                        <i class="i-font">Marca</i>
                                        <input type="text" name="marca" disabled="disabled" [(ngModel)]="medicamentoService.selectedMedicamento1.marca" class="form-control text-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contenedor-tabla">
                            <div class="contenedor-fila">
                                <div class="contenedor-columna-right">
                                    <div class="form-group">
                                        <i class="i-font">Categoría</i>
                                            <input type="text" name="categoria" disabled="disabled" [(ngModel)]="medicamentoService.selectedMedicamento1.categoria" class="form-control text-input">
                                    </div>
                                </div>
                                <div class="contenedor-columna-left">
                                    <div class="form-group">
                                        <i class="i-font">Ubicación</i>
                                            <input type="text" name="ubicacion" disabled="disabled" [(ngModel)]="medicamentoService.selectedMedicamento1.ubicacion" class="form-control text-input">         
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="contenedor-tabla">
                            <div class="contenedor-fila">
                                <div class="contenedor-columna-right">
                                    <div class="form-group">
                                        <i class="i-font">Stock Mínimo</i>
                                        <input type="text" name="stockMin" disabled="disabled" [(ngModel)]="medicamentoService.selectedMedicamento1.stockMin" class="form-control text-input">
                                    </div>
                                </div>
                                <div class="contenedor-columna-left">
                                    <div class="form-group">
                                        <i class="i-font">Stock Máximo</i>
                                        <input type="text" name="stockMax" disabled="disabled" [(ngModel)]="medicamentoService.selectedMedicamento1.stockMax" class="form-control text-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <i class="i-font">Detalles</i>
                            <textarea class="form-control descripcion-input" name="detalles" disabled="disabled" [(ngModel)]="medicamentoService.selectedMedicamento1.detalles"></textarea>
                        </div>

                        <div class="modal-footer popup-footer">
                            
                            <div class="btn-rigth">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




