<html>
<div class="col-lg-5">
    <form [formGroup]="formEquipoMedicoActualizar">
        <h2>Actualizar Equipo Medico</h2>
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
        </div>
        <div class="alert alert-message" *ngIf="nombre.invalid && (nombre.dirty)">
            <div class="container-error-message">
                <div *ngIf="nombre.errors.required">Se requiere nombre!</div>
            </div>
        </div>

        <div class="form-group">
            <label>Fabricante</label>
            <input type="text" class="form-control" formControlName="fabricante">
        </div>
        <div class="alert alert-message" *ngIf="fabricante.invalid && (fabricante.dirty)">
            <div class="container-error-message">
                <div *ngIf="fabricante.errors.required">Se requiere fabricante!</div>
            </div>
        </div>

        <div class="form-group">
            <label>Especialidad</label>
            <select id="IdEspecialidad" class="form-control" formControlName="especialidad">  
                    <option *ngFor="let item of especialidades" value="item">{{item}}</option>              
                </select>
        </div>
        <div class="alert alert-message" *ngIf="especialidad.invalid && (especialidad.dirty)">
            <div class="container-error-message">
                <div *ngIf="especialidad.errors.required">Se requiere especialidad!</div>
            </div>
        </div>

        <div class="form-group">
            <label>Caracteristicas</label>
            <textarea class="form-control descripcion-input" formControlName="caracteristicas"></textarea>
        </div>
        <div class="alert alert-message" *ngIf="caracteristicas.invalid && (caracteristicas.dirty)">
            <div class="container-error-message">
                <div *ngIf="caracteristicas.errors.required">Se requiere caracteristicas!</div>
            </div>
        </div>

        <div class="form-group">
            <label>Cantidad</label>
            <input type="number" name="cantidad" formControlName="cantidad" class="form-control" min="1">
        </div>
        <div class="alert alert-message" *ngIf="cantidad.invalid && (cantidad.dirty)">
            <div class="container-error-message">
                <div *ngIf="cantidad.errors.required">Se requiere cantidad!</div>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="col-sm-5">
                <button class="btn btn-primary btn-save" type="submit" (click)="update()">Actualizar</button>
            </div>
            <div class="col-sm-5">
                <button type="button" class="btn btn-secondary btn-cancel">Cancelar</button>
            </div>
        </div>
    </form>
</div>

</html>