<div class=" container cont">
    <h1>Consultar Movimientos</h1>
    <div class="row" style="margin: 30px 0px;"> 
        <mat-tab-group>
            <mat-tab label="Medicamentos"> 
               <div> 
                   <table class="table styled-table" style="text-align: center;">
                <thead >
                    <tr>
                       
                        <th>ID</th>
                        <th>Codigo</th>
                        <th>Medicamento</th>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Motivo</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <!-- -->
                    <tr *ngFor="let m of medicamentos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td>1</td>
                        <td>codigo</td>
                        <td></td>
                        <td>{{m.tipo}}</td>
                        <td>{{m.fecha}}</td>
                        <td>{{m.motivo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
                    
              
                     

            </mat-tab>
            <mat-tab label="Equipos médicos"> 
                <div class="">
                
                </div>
            </mat-tab>
          </mat-tab-group> 
    </div>
    
</div>


