h1{
  border-color: #529ABA;
  color: #529ABA;
  font-size: 28px;
}
  /* Styles for the ink bar */
::ng-deep.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      background-color: #529ABA;
} 
.cont{
  background: white;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
 
}
.styled-table {
  border-collapse: collapse;
  margin: 0px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #5782b6f1;
  color: #ffffff;
  text-align: left;
}
.styled-table th{
  color: #FFFF;
  padding: 12px 15px;
  text-align: center;
}
.styled-table td {
  padding: 12px 15px;
  text-align: center;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #5781B6;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #5781B6;
}
